nav {
    background-color: hsl(0,0%,100%);
    color: hsl(0,0%,9%);
}

.navbar-toggler {
    border-style: none;
    color: transparent !important;
}

.dev-logo {
    height: 40px;
    width: 50px;
}

.search-container {
    width: 500px;
    height: 50px;
}

.search-button {
    border: none;
    background: none;
}

.button-create-post {
    color: hsl(235,72%,55%);
} 

.button-create-post:hover {
    background-color: hsl(235,72%,55%);
}

.alert-notification {
    width: 15px;
    height: 25px;
    color: hsl(0,0%,100%);
    background-color: hsl(4,71%,53%);
    position: absolute;
    border-radius: 50px;
    top: 5px;
    right: 60px;
    display: flex;
    justify-content: center;

}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}


