.right-aside-mq {
    display: none;
}
@media screen and (min-width: 1024px) {
    .right-aside-mq {
        display: block;
    }
    .forem--android-title{
        color: rgba(59, 73, 223);
        font-weight: bolder;
    }
    .see-all{
        text-decoration: none;
    }
    .right-aside{
        background-color: #FAFAFA;
    }
    .text-center--allign{
        text-align: center;
    }
    .aside__span--small{
        font-size: small;
    }
    .right-aside--listings{
        border-bottom: 1px solid rgba(121, 120, 120, 0.055);
        &:hover {
            cursor: pointer;
            background-color: white;
                    color: hsl(235,72%,55%);;
            }
    }
    .right-aside--help{
        border-bottom: 1px solid rgba(121, 120, 120, 0.055);
        &:hover {
            cursor: pointer;
            background-color: white;
                    color:hsl(235,72%,55%);;
            }
    }
    .right-aside--span{
        background-color: #FCD34D ;
        border-radius: 5px;
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .right-aside--discuss{
        border-bottom: 1px solid rgba(121, 120, 120, 0.055);
        &:hover {
            cursor: pointer;
            background-color: white;
                    color:hsl(235,72%,55%);
            }
    }
}